@inject NavigationManager NavigationManager

<button class="position-relative portal-gun-button" @onclick="@ActivatePortal">
    <img class="@($"position-absolute green-portal {activePortalClass}")" src="images/green-portal.gif" alt="green portal" @onclick="@Teleport"/>
    @Text
</button>

@code {
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public string? Destination { get; set; }
    private string? activePortalClass = null;

    private void ActivatePortal()
    {
        activePortalClass = "active-portal";
    }

    private void Teleport()
    {
        NavigationManager.NavigateTo($"/{Destination}");
    }
}