@page "/"
@using System.Security.Cryptography

<PageTitle>Index</PageTitle>

<div class="overflow-hidden space-background main-page d-flex justify-space-around" @onmousemove="@GetMousePosition">
    <div class="portal-section position-relative">
        <img class="position-absolute portal" src="images/green-portal.gif" alt="green portal animation"/>
        <img style="@($"left: {rickX.ToString()}px; ")" class="position-absolute rick" src="images/portal-gun-rick.svg" alt="drunk rick"/>
        <img class="position-absolute morty" src="images/main-page-morty.svg" alt="scared morty"/>
        <img class="position-absolute helmet" src="images/intelligence-helmet.svg" alt="intelligence helmet"/>
        <img class="position-absolute plumbus" src="images/plumbus.svg" alt="plumbus"/>
        <img class="position-absolute box" src="images/mr-meeseeks-box.svg" alt="mr.meeseeks box"/>
    </div>
    <div class="title position-relative d-flex flex-column justify-center align-items-center">
        <img src="images/ufo.svg" alt="ufo" class="position-absolute ufo"/>
        <img src="images/rick-and-morty-logo.gif" alt="rick and morty logo" class="logo"/>
        <PortalGunButton Text="C-137"/>
        <p style="color: white">@mouseX.ToString() @mouseY.ToString()</p>
    </div>
</div>

@code
{
    private double mouseX;
    private double mouseY;
    private float rickX = -50f;
    
    private void GetMousePosition(MouseEventArgs e)
    {
        mouseX = e.ClientX;
        mouseY = e.ClientY;
        MoveElements();
    }
    
    private void MoveElements()
    {
    }
}
