@page "/"

<PageTitle>Index</PageTitle>

<div class="overflow-hidden space-background main-page d-flex justify-space-around">
    <div class="portal position-relative">
        <img class="portal" src="images/green-portal.gif" alt="green portal animation"/>
        <img class="rick" src="images/main-page-rick.svg" alt="drunk rick"/>
        <img class="morty" src="images/main-page-morty.svg" alt="scared morty"/>
        <img class="helmet" src="images/intelligence-helmet.svg" alt="intelligence helmet"/>
        <img class="gun" src="images/portal-gun.svg" alt="portal gun"/>
        <img class="plumbus" src="images/plumbus.svg" alt="plumbus"/>
        <img class="box" src="images/mr-meeseeks-box.svg" alt="mr.meeseeks box"/>
    </div>
    <div class="title">
        <img src="images/ufo.svg" alt="ufo" class="ufo">
        <img src="images/rick-and-morty-logo.gif" alt="rick and morty logo" class="logo"/>
        <PortalGunButton Text="C-137"/>
    </div>
</div>